@import "../../../assets/front/styles/variable";
@import "../../../assets/front/styles/mixin";

.pastOrderBox {
  border: $lightGray 1px solid;
  border-radius: 0.625rem;
  padding: 1rem;
  line-height: 1.3;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  h6 {
    color: $sccondary;
    margin-bottom: 0.113rem;
  }
  .pobImage {
    flex: 0 0 6.875rem;
    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
    }
  }
  .pobcontent {
    flex: 1 0 0%;
    padding: 0 1rem;
  }
  ul {
    margin-top: 0.5rem;
    li {
      border: $lightGray 1px solid;
      padding: 0.213rem 0.813rem;
      border-radius: 0.313rem;
      &:not(:last-child) {
        margin-left: 0.5rem;
      }
    }
  }
}
