@import "../../../assets/front/styles/variable";
@import "../../../assets/front/styles/mixin";

.rowHeader {
  font-family: "Heebo";
  font-weight: 600;
  font-size: 1.125rem;
  color: $sccondary;
  // margin-bottom: 1rem;
  h5 {
    color: $sccondary;
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
  }
}
.rowBody {
  background: $bg-3;
  padding: 2rem;
  border-radius: 0.313rem;
}

.rowBox {
  width: 100%;
  padding: 1.25rem;
  border-radius: 12px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  background: $white;
  box-shadow: 0 0 16px -5px rgba(0, 0, 0, 0.2);
  font-family: "Heebo";
  font-weight: 400;
  margin: 1.5rem 0.5rem;
}

.rowBoxTop {
  max-width: 100%;
  img {
    border-radius: 0.75rem;
  }
}
.rowBoxBottom {
  width: 100%;
  padding-top: 1rem;
}
.rowBoxBottomTop {
  width: 100%;
  margin-bottom: 1rem;
  h5 {
    font-size: 1.5rem;
    color: $sccondary;
    margin-bottom: 0.75rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  ul {
    li {
      &:not(:last-child) {
        margin-left: 0.875rem;
      }
      span {
        display: block;
        padding: 0.113rem 0.313rem;
        border-radius: 0.313rem;
        font-size: 0.875rem;
        color: $dark;
        font-weight: 600;
        background: $white;
        border: $bg-1 1px solid;
      }
    }
  }
}

.rowBottom {
  width: 100%;
  ul {
    margin: 0 -0.5rem;
  }
  li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0.5rem;
  }
  a {
    display: block;
    color: $white;
    font-size: 1rem;
    padding: 0.813rem 2rem;
    border-radius: 0.5rem;
    font-weight: 400;
    text-align: center;
    &.remove {
      background-color: $primary;
      color: $sccondary;
      &:hover {
        background-color: $sccondary;
        color: $white;
      }
    }
    &.switch {
      background-color: $sccondary;
      &:hover {
        background-color: $primary;
      }
    }
  }
}
.rowWrap {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.dishSnaks {
  font-family: "Heebo";
  margin-top: 0.625rem;
  li {
    &:not(:last-child) {
      margin-left: 1.5rem;
    }
  }
  a {
    display: block;
    background-color: $sccondary;
    color: $white;
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    font-weight: 500;
    font-size: 1.5rem;
    &:hover {
      background-color: $primary;
    }
  }
}

.popupBody {
  font-family: "Heebo";
  font-weight: 400;
  padding: 2rem 1rem;
  .popupBodyLeft {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
    li {
      span {
        display: block;
        color: $white;
        padding: 0.775rem 2.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
      }
      &:first-child {
        span {
          background-color: $light-green;
        }
      }
      &:last-child {
        span {
          background-color: $red;
        }
      }
    }
    p {
      color: $dark;
      font-weight: 500;
      font-size: 1rem;
    }
    .nutritionBtn {
      @include primaryBtn;
    }
  }
  .popupBodyRight {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
  }
}
.imgContainer {
  border-radius: 0.75rem;
  overflow: hidden;
}

.customArrow {
  z-index: 1;
  cursor: pointer;
}

.nextArrow {
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: $sccondary;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    width: auto;
    height: 15px;
  }
}

.prevArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: $sccondary;
  padding: 5px;
  border-radius: 50%;
  img {
    display: block;
    width: auto;
    height: 15px;
  }
}
