@import "../../assets/front/styles/variable";
@import "../../assets/front/styles/mixin";
.contactCection {
  padding: 4rem 0;
}
.contactBg {
  background: $light-yellow;
  padding: 1rem;
  border-radius: 0.625rem;
  font-weight: 400;
  font-family: "Heebo";
}
.sendIcon {
  position: absolute;
  bottom: -4.25rem;
  right: 13rem;
  width: 15rem;
}
.contactLeft {
  flex: 0 0 33%;
  max-width: 33%;
  background-color: $primary;
  border-radius: 0 0.625rem 0 0;
  padding: 2rem;
  color: $white;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    bottom: -8rem;
    right: -7rem;
    width: 16.875rem;
    height: 16.875rem;
    border-radius: 50%;
    background: $light-yellow-2;
  }
}
.contactRight {
  flex: 1 0 0%;
  padding: 3rem 3rem 7rem;
  position: relative;
}

.input {
  @include input-1;
}
.textarea {
  @include input-1;
  height: 5rem;
  resize: none;
}
.sendingBtn {
  @include darkBtn;
}

.contactLeftTop {
  h3 {
    color: $white;
    font-weight: 500;
    text-align: center;
    direction: rtl;
  }
}
.contactMail {
  margin-top: 6rem;
  li {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}
