@import "../../../../assets/front/styles/variable";
@import "../../../../assets/front/styles/mixin";
.fSocial {
  li {
    &:not(:last-child) {
      margin-right: 1.25rem;
      margin-bottom: 0 !important;
    }
  }
  a {
    display: block;
    font-size: 1.5rem;
    color: $primary;
    &:hover {
      color: $white;
    }
  }
}
