@import "../../../assets/front/styles/variable";
@import "../../../assets/front/styles/mixin";

.orderSummaryBox {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 34px 0px rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
  border-radius: 0.75rem;
  position: sticky;
  top: 6rem;
  font-weight: 600;
  font-family: "Heebo";
  margin-top: 5.25rem;
  h3 {
    text-align: center;
    color: $primary;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
.orderSummaryBody {
  ul {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  li {
    flex: 0 0 50%;
    color: $primary;
    font-weight: 600;
    font-size: 0.938rem;
  }
}
.ProceedPayment {
  background-color: $primary;
  color: $white;
  line-height: 2.25rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  display: block;
  &:hover {
    background: $sccondary;
  }
}
.orderSummaryBtm {
  margin-top: 4rem;
}
