@import "../../assets/front/styles/variable";
@import "../../assets/front/styles/mixin";
.mealAmount {
  padding: 4rem 0;
}
.mealTabWrap {
  margin-bottom: 2rem;
}
.mealAmountContainer {
  padding: 0 2rem;
}
