@import "../../../assets/front/styles/variable";
@import "../../../assets/front/styles/mixin";
.orderArea {
  padding: 1rem 0;
}
.orderBtn {
  padding: 0.5rem 3rem;
  border-radius: 0.625rem;
  background-color: $sccondary;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Heebo";
  color: $white;
  &:hover {
    background-color: $white;
    color: $sccondary;
  }
}
