@import "../../../assets/front/styles/variable";
@import "../../../assets/front/styles/mixin";

.healthSection {
  //   background-color: $sccondary;
  padding: 4rem 0;
}

.healthImg {
  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
  }
}

.healthLeft {
  padding-right: 1.5rem;
  h2 {
    margin-bottom: 1rem;
    color: $sccondary;
  }
  h5 {
    color: $primary;
    font-weight: 400;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  h3 {
    color: $primary;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  a {
    @include mainBtn;
  }
}
