@import "../../../../assets/front/styles/variable";
@import "../../../../assets/front/styles/mixin";

.filterBox {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 34px 0px rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
  border-radius: 0.75rem;
  position: sticky;
  top: 6rem;
  font-weight: 300;
  font-family: "Heebo";
  margin-top: 4.55rem;
  h4 {
    color: $primary;
    font-size: 1.25rem;
    font-weight: 600;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 0.875rem;
    }
    span {
      display: inline-block;
      background-color: $primary;
      padding: 0.313rem 0.5rem;
      border-radius: 0.5rem;
      color: $white;
    }
  }
}
